.img {
  width: 2.6em;
  min-height: 100px;
}

.container {
  width: 15em;
  margin: 0 auto;
  cursor: pointer;
  border: 0.5px solid #e9eaea;
  border-radius: 3px;
  transition: 0.3s;
}

.eyecatch {
  padding: 0.4em 0;
  text-align: center;
  background: #e1f3ff;
}

.content {
  padding: 0.4em 0;
}

.title,
.postDay {
  position: relative;
  padding: 0 0.3em;
  margin: 0;
  font-size: 0.8em;
  line-height: 1.5;
}

.postDay {
  padding: 0 0.3em;
  font-size: 0.6em;
  color: #777;
}

.tags {
  padding: 0 0.3em;
  display: flex;
  align-items: center;
}

.tag {
  margin-left: 0.5em;
  color: #777;
}
